{% extends "userapp/new-base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<section id="complete_python" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 lg-4 mx-auto">
                <div class="card mt-4 shadow-lg">
                    <div class="card-body p-4 text-center">
                        <h4 class="border-bottom mb-4 text-center" style="color: #f08d27;">
                            Password Reset
                        </h4>
                        <div class="mb-4">
                            <img src="{% static 'frontend_assets/images/success.png' %}" alt="Logo" width="100">
                        </div>
                        <p>If an active account is found with the email address provided, a link to reset the password will
                            be sent to the email address.</p>
                        <div class="pt-3 text-center">
                            <small class="text-muted mr-5">
                                <a href="{% url 'userapp:login' %}" class="ml-2 custom-link">Back to Login</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section id="divider">
    <div class="container">
        <div class="ant-divider css-lujapw text-center">
            <span class="ant-divider-inner-text">
                <span role="img" aria-label="holder" class="anticon anticon-holder">
                    <svg viewBox="64 64 896 896" focusable="false" data-icon="holder" width="1em" height="1em"
                        fill="currentColor" aria-hidden="true">
                        <path
                            d="M300 276.5a56 56 0 1056-97 56 56 0 00-56 97zm0 284a56 56 0 1056-97 56 56 0 00-56 97zM640 228a56 56 0 10112 0 56 56 0 00-112 0zm0 284a56 56 0 10112 0 56 56 0 00-112 0zM300 844.5a56 56 0 1056-97 56 56 0 00-56 97zM640 796a56 56 0 10112 0 56 56 0 00-112 0z">
                        </path>
                    </svg>
                </span>
            </span>
        </div>
    </div>
</section>
{% endblock %}