
{% extends 'courseapp/base.html' %}
{% load crispy_form_tags%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}

                <fieldset class="form-group">
                    <h1 class="display-4">Edit Course</h1>
                    {{form|crispy}}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-secondary">Save</button>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}